        table.diff {font-family:Courier; border:medium;}
        .diff_header {  background-color:#e0e0e0; color: #e0e0e0 }
        td.diff_header { text-align:right; width: 0px}
        table.diff td { padding-left: 5px }
        .diff_next {display: none; }
        .diff_add {background-color:#aaffaa}
        .diff_chg {background-color:#ffff77}
        .diff_sub {background-color:#ffaaaa}

.fixed {font-family:Courier; }
div, textarea { margin-top: 1em; }

body { 
    padding: 10px;
    background-color: #ffeeee 
}
body div { padding: 10px; background-color: #ffeeee }

